@model IEnumerable<Finderr.Models.UserProfileTemp>

<p>
    <a asp-action="Index">Go Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePrivacy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacebookLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwitterLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkedInLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePrivacy)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ProfilePictureReference)" height="60" width="60" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacebookLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwitterLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkedInLink)
            </td>
        </tr>
}
    </tbody>
</table>
